<div class="formgrid grid">
    <div class="col-12 md:col-6">Tháng: <b>{{detail?.month}}/{{detail?.year}}</b></div>
    <div class="col-12 md:col-6">Mã hóa đơn: <b>{{detail?.code}}</b></div>
    <div class="col-12 md:col-6">Phòng: <b>{{detail?.roomName}}</b></div>
    <div class="col-12 md:col-6">Tổng tiền (VNĐ): <b>{{detail?.totalMoney | currency:' ':'symbol':'1.0-0'}}</b></div>
</div>
<div class="mt-2">
    <p-table [value]="detail?.detailList" styleClass="p-datatable-sm" scrollHeight="500px">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5%;">STT</th>
                <th style="width: 20%">
                    Dịch vụ
                </th>
                <th style="width: 20%">
                    Chỉ số tiêu thụ
                </th>
                <th style="width: 20%">
                    Đơn giá(VNĐ)
                </th>
                <th style="width: 20%">
                    Thành tiền(VNĐ)
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr>
                <td><span class="p-column-title">STT</span>{{ index + 1 }}</td>
                <td><span class="p-column-title">Dịch vụ</span>
                    <span *ngIf="item.type == 'WATER'" class="status-info">Nước</span>
                    <span *ngIf="item.type == 'ELECTRIC'" class="status-error">Điện</span>
                </td>
                <td><span class="p-column-title">Chỉ số tiêu thụ</span>{{ item.consumption }}</td>
                <td><span class="p-column-title">Đơn giá(VNĐ)</span>{{ item.unitPrice | currency:' ':'symbol':'1.0-0' }}</td>
                <td><span class="p-column-title">Thành tiền(VNĐ)</span>{{ item.money | currency:' ':'symbol':'1.0-0' }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">{{ 'common.table.dataNotFound' | translateAsync }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>