::ng-deep app-user-page {
    .el-role {
        border-radius: 8px;
        padding: 5px;
        color: #ffffff;
        font-size: 12px;
        opacity: 0.8;
        background: #06A561;
        margin: 4px;
        text-wrap: nowrap;
        display: inline-block;
        // width: 150px;
    }
}