<div>
    <form [formGroup]="formSave">
        <div class="formgrid grid">
            <app-drop-down [property]="f['resourceCode']"
                [labelValue]="'Tài nguyên'"
                [options]="resourceList"
                optionLabel="label"
                optionValue="code"
                class="col-12 md:col-12"
            ></app-drop-down>
        </div>
        <div class="flex justify-content-center app-dialog-footer mt-2">
            <p-button icon="pi pi-times" [label]="'common.label.quit' | translateAsync" styleClass="p-button-outlined"
                (onClick)="onClose()"></p-button>
            <p-button icon="pi pi-save" [label]="'common.label.save' | translateAsync" (onClick)="onSave()"></p-button>
        </div>
    </form>
</div>
