<div *hasPermission="[this, 'action.view', 'resource.organization']">
    <div class="grid">
        <div class="md:col-4 col-12">
            <!-- <app-organization-tree></app-organization-tree> -->
            <app-org-tree [orgService]="orgService" (onSelectNode)="onSelectNode($event)"/>
            <!-- (onSelectNode)="onSelectNode($event)"  -->
        </div>
        <div class="md:col-8 col-12">
            <p-panel>
                <ng-template pTemplate="header">
                    <i class="fa-solid fa-bars mr-2"></i>
                    <b>{{ 'common.label.searchInfo' | translateAsync }}</b>
                </ng-template>
                <form [formGroup]="formSearch">
                    <div class="formgrid grid">
                        <app-text-input [property]="f['code']" class="col-12 md:col-6"
                            [labelValue]="'mngOrganization.organization.code' | translateAsync"></app-text-input>
                        <app-text-input [property]="f['name']" class="col-12 md:col-6"
                            [labelValue]="'mngOrganization.organization.name' | translateAsync"></app-text-input>
                    </div>
                    <div class="flex justify-content-center app-dialog-footer">
                        <p-button type="submit" icon="pi pi-search" [label]="'common.label.search' | translateAsync"
                            (onClick)="doSearchOrg()"></p-button>
                    </div>
                </form>
            </p-panel>
    
            <p-panel styleClass="pt-2">
                <ng-template pTemplate="header" class="block">
                    <div class="flex justify-content-between flex-wrap">
                        <!-- <b class="flex align-items-center">{{ 'mngOrganization.organization.dataList' | translateAsync
                            }}</b> -->
                        <span class="flex align-items-center">
                            <i class="fa-solid fa-list mr-2"></i>
                            <b>{{ 'mngOrganization.organization.dataList' | translateAsync }}</b>
                        </span>
                        <p-button *hasPermission="[this, 'action.insert', 'resource.organization']" class="flex align-items-center" icon="pi pi-plus"
                            [label]="'common.label.add' | translateAsync" (onClick)="prepareCreateOrUpdate()"></p-button>
                    </div>
                </ng-template>
                <p-table [value]="dataTable?.data" [paginator]="dataTable?.data && dataTable?.data?.length" [rows]="10"
                    styleClass="p-datatable-sm" [lazy]="true" [totalRecords]="dataTable?.recordsTotal" [first]="dataTable?.first"
                    (onLazyLoad)="doSearchOrg($event)"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Tìm thấy {totalRecords} kết quả, hiển thị từ {first} - {last}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 5%;">STT</th>
                            <th style="width: 15%">
                                {{ 'mngOrganization.organization.code' | translateAsync }}
                            </th>
                            <th style="width: 30%">
                                {{ 'mngOrganization.organization.name' | translateAsync }}
                            </th>
                            <th style="width: 20%">
                                {{ 'mngOrganization.organization.establishDate' | translateAsync }}
                            </th>
                            <th style="width: 15%">
                                {{ 'common.label.status' | translateAsync }}
                            </th>
                            <th style="width: 20%"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-index="rowIndex">
                        <tr>
                            <td><span class="p-column-title">STT</span>{{ index + 1 }}</td>
                            <td><span class="p-column-title">{{ 'mngOrganization.organization.code' | translateAsync }}</span>{{ item.code }}</td>
                            <td><span class="p-column-title">{{ 'mngOrganization.organization.name' | translateAsync }}</span>{{ item.name }}</td>
                            <td><span class="p-column-title">{{ 'mngOrganization.organization.establishDate' | translateAsync }}</span>{{ item.establishDate | date:'dd/MM/yyyy' }}</td>
                            <td><span class="p-column-title">{{ 'common.label.status' | translateAsync }}</span></td>
                            <td>
                                <span class="p-column-title">Thao tác</span>
                                <div class="flex justify-content-center">
                                    <p-button *hasPermission="[this, 'action.update', 'resource.organization']" icon="pi pi-pencil" [pTooltip]="'common.label.edit' | translateAsync"
                                        styleClass="p-button-rounded p-button-text"
                                        (onClick)="prepareCreateOrUpdate(item.id)"></p-button>
                                    <p-button *hasPermission="[this, 'action.delete', 'resource.organization']" icon="pi pi-trash" [pTooltip]="'common.label.delete' | translateAsync"
                                        styleClass="p-button-rounded p-button-danger p-button-text"
                                        (onClick)="onDeleteOrg(item.id)"></p-button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="6">{{ 'common.table.dataNotFound' | translateAsync }}</td>
                        </tr>
                    </ng-template>
                    <!-- <ng-template pTemplate="paginatorleft">
                        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                    </ng-template> -->
                </p-table>
            </p-panel>
        </div>
    </div>
</div>
<div *hasNotPermission="[this, 'action.view', 'resource.organization']" class="no-permission">
    <i>
        {{ 'common.error.haveNoPermission' | translateAsync }}
    </i>
</div>