<form [formGroup]="formSave">
    <div class="formgrid grid">
        <app-text-input [property]="f['code']"
            class="col-12 md:col-6"
            [labelValue]="'setting.categoryType.code' | translateAsync"
        ></app-text-input>
        <app-text-input [property]="f['name']"
            class="col-12 md:col-6"
            [labelValue]="'setting.categoryType.name' | translateAsync"
        ></app-text-input>
    </div>
    <div class="flex justify-content-center app-dialog-footer">
        <p-button icon="pi pi-times" [label]="'common.label.quit' | translateAsync" styleClass="p-button-outlined" (onClick)="onClose()"></p-button>
        <p-button icon="pi pi-save" [label]="'common.label.save' | translateAsync" (onClick)="onSave()"></p-button>
    </div>
</form>