<div *hasPermission="[this, 'action.view', 'resource.classroom']">
    <p-panel [toggleable]="true">
        <ng-template pTemplate="header">
            <div>
                <i class="fa-solid fa-bars mr-2"></i>
                <b>{{ 'common.label.searchInfo' | translateAsync }}</b>
            </div>
        </ng-template>
        <form [formGroup]="formSearch">
            <div class="formgrid grid">
                <app-text-input [property]="f['code']" class="col-12 md:col-6"
                    [labelValue]="'Mã lớp'"></app-text-input>
                <app-text-input [property]="f['name']" class="col-12 md:col-6"
                    [labelValue]="'Tên lớp'"></app-text-input>
            </div>
            <div class="flex justify-content-center app-dialog-footer">
                <p-button type="submit" icon="pi pi-search" [label]="'common.label.search' | translateAsync"
                    (onClick)="doSearch()"></p-button>
            </div>
        </form>
    </p-panel>
    <p-panel styleClass="pt-2">
        <ng-template pTemplate="header" class="block">
            <div class="flex-1 flex justify-content-between flex-wrap">
                <!-- <b class="flex align-items-center">{{ 'mngOrganization.organization.dataList' | translateAsync
                    }}</b> -->
                <span class="flex align-items-center">
                    <i class="fa-solid fa-list mr-2"></i>
                    <b>Danh sách</b>
                </span>
                <div class="d-flex">
                    <p-button *hasPermission="[this, 'action.insert', 'resource.classroom']" class="flex align-items-center" icon="pi pi-plus" [label]="'common.label.add' | translateAsync"
                        (onClick)="prepareCreateOrUpdate()"></p-button>
                </div>
            </div>
        </ng-template>
        <p-table [value]="dataTable?.data" [paginator]="dataTable?.data && dataTable?.data?.length" [rows]="10"
            styleClass="p-datatable-sm" [lazy]="true" [first]="dataTable?.first"
            [totalRecords]="dataTable?.recordsTotal" (onLazyLoad)="doSearch($event)" [showCurrentPageReport]="true"
            currentPageReportTemplate="Tìm thấy {totalRecords} kết quả, hiển thị từ {first} - {last}"
            [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%" >STT</th>
                    <th style="width: 20%">
                        Mã lớp
                    </th>
                    <th style="width: 20%">
                        Tên lớp
                    </th>
                    <th style="width: 20%">
                        Khoa
                    </th>
                    <th style="width: 10%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr>
                    <td><span class="p-column-title">STT</span>{{ index + 1 }}</td>
                    <td><span class="p-column-title">Mã lớp</span>{{ item.code }}</td>
                    <td><span class="p-column-title">Tên lớp</span>{{ item.name }}</td>
                    <td><span class="p-column-title">Khoa</span>{{ item.departmentCode }}</td>
                    <td><span class="p-column-title">Thao tác</span>
                        <div class="flex justify-content-center">
                            <p-button *hasPermission="[this, 'action.update', 'resource.classroom']" icon="pi pi-pencil" [pTooltip]="'common.label.edit' | translateAsync"
                                styleClass="p-button-rounded p-button-text" tooltipPosition="top" 
                                (onClick)="prepareCreateOrUpdate(item.id)"></p-button>
                            <p-button *hasPermission="[this, 'action.mngStudent', 'resource.classroom']" icon="pi pi-users" [pTooltip]="'Quản lý sinh viên'"
                                styleClass="p-button-rounded p-button-warning p-button-text" tooltipPosition="top" 
                                (onClick)="onMngStudent(item.id)"></p-button>
                            <p-button *hasPermission="[this, 'action.delete', 'resource.classroom']" icon="pi pi-trash" [pTooltip]="'common.label.delete' | translateAsync"
                                tooltipPosition="top" 
                                styleClass="p-button-rounded p-button-danger p-button-text"
                                (onClick)="onDelete(item.id)"></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">{{ 'common.table.dataNotFound' | translateAsync }}</td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template> -->
        </p-table>
    </p-panel>
</div>
<div *hasNotPermission="[this, 'action.view', 'resource.classroom']" class="no-permission">
    <i>
        {{ 'common.error.haveNoPermission' | translateAsync }}
    </i>
</div>